html, body{
    height:100%;
}
.wrapper{
    min-height: 100%;
    position: relative;
    margin-bottom: -100px;
    padding-bottom: 100px;
}
footer{
    /* height: 50px; */
    background-color:rgb(114, 3, 3);
    color:white; 
    width:100%;
    height:50px;
    position:absolute;
    bottom:0;
    left:0;
    text-align:center;
    object-position: bottom; 
}