<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/fonts.css" %}">
    <link rel="stylesheet" href="{% static "css/mine.css" %}">
    <link rel="icon" type="image/png" href="{% static 'media/uok1.png'%}"/>
    <title>UoK|Appointment System</title>
  </head>
  <body>
    <div class="showcase">
      <div>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <div class="container">
            <a href="{% url 'home' %}" class="navbar navbar-brand"><div class="uoklogo"><img src="{% static 'media/uok.png'%}" style="width:120px; height: 40px;"alt=""></div></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'student_registration'%}" class="nav-link">Register</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">Login</a>
              </li>
            </ul>
            </div>
          </div>
        </nav>
      </div>                 
            <div class="row my-sm-4 my-md-4 my-lg-1">
              <div class="col-md-4"></div>
              <div class="col-md-4 my-sm-5 py-sm-5 py-md-5 py-lg-2 bg-dark text-white outline-light" >
                <!--{%if warning %}-->
                <div class="alert alert-warning alert-dismissable">
                    <button type="button" claas="close" data-dismiss="alert" aria-hidden="true">X</button>
                    {{ warning }}
                  </div>
              <!--{% endif %}-->
                <center><h3>Login</h3></center>
                  <form class="form-container" method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputText1">Username</label>
                        <input type="text" name='username' class="form-control" aria-describedby="textHelp" placeholder="Enter username">
                        
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name='password' class="form-control" placeholder="Password">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
                      </div>
                      <center><input type="submit" class="btn btn-primary" value=" Login "></center>
                      <input type="hidden" name="next" value="{{next}}">
                      <center><p>If you don't have an account</p>
                        Create <a href="{% url 'student_registration' %}">account</a></center>
                    </form>
              </div>
              <div class="col-md-4" ></div>
            </div>
      <footer style="background-color:rgb(114, 3, 3);"><center> <p style="color:white; margin-top: 10px;"> UNIVERSITY OF KIGALI </p></center></footer>
      </div>
      <script src="{% static "bootstrap/js/jquery-slim.min.js" %}"></script>
      <script src="{% static 'bootstrap/js/proper.js' %}" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrapjquery.js" %}"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
    

  </body>
</html>
