{% extends 'index2.html' %}
{% block content %}
    <div class="container">
        <div class="col-lg-6">
            {% if registered %}
                <h1>thank you for registering</h1>
            {% else %}
            <h3>Student Registration</h3>
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for forms in userform %}
                    {{forms.label}}<br>
                    <p>{{forms}}</p>
                    {% endfor %}
                    {% for forms in studentform %}
                    {{forms.label}}<br>
                    <p>{{forms}}</p>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Register"/>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}